*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:darkorange;
    color: white;
    overflow: hidden;
}
h1{
    font-size: 22rem;
    text-align: center;
    opacity: 0.1;
}
.progress{
    width: 0;
    height: 3px;
    background-color: yellow;
    position: absolute;
    top: 50%;
}